<div class="app">
  <form [formGroup]="myForm" novalidate autocomplete="off">
  <div class="row no-print">
    <div class="col s4 offset-s4 center-align">
      <div class="switch" style="margin-top: 1rem;">
        <label>
          Nota de venta
          <input type="checkbox" style="border: none !important; padding: 0 !important; margin: 0 !important;" formControlName="presupuesto">
          <span class="lever"></span>
          Presupuesto
        </label>
      </div>
    </div>
  </div>
  <section>
      <div class="page">
        <div class="inner">
          <div class="row">
            <div class="col s4">
              <img src="assets/logo1.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col s4">
              <div class="datos">
                <h6 *ngIf="!myForm.value.presupuesto" style="font-weight: 600; margin: 0;">NOTA DE VENTA</h6>
                <h6 *ngIf="myForm.value.presupuesto" style="font-weight: 600; margin: 0;">PRESUPUESTO</h6>
                <p style="font-size: 1rem; font-weight:600; ">AFINAUTO</p>
                <p>PERFORMANCE - SUSPENSIONES</p>
                <p>Tel. 443 256 5230 | 443 104 0686</p>
                <p>Raza Azteca 89-A, Lomas de Santiaguito</p>
                <p>afinautos@yahoo.com</p>
              </div>
            </div>
            <div class="col s4" style="font-size: 0.7rem; font-weight: 600;">
              <div class="row">
                <div class="col s6 right-align" style=" padding-right: 0;">
                  FOLIO:
                </div>
                <div class="col s6">
                  <input type="text" id="orden" formControlName="orden" class="right-align" style="height: 1rem; color: red; font-size: .8rem; font-weight: 700; border-bottom: 0;" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col s6 right-align" style=" padding-right: 0;">
                  AUTORECEPCIÓN:
                </div>
                <div class="col s6">
                  <input type="text" id="fecha" formControlName="fecha" class="right-align" style="height: 1rem; font-size: .8rem; font-weight: 700; border-bottom: 0;" readonly>
                </div>
              </div>
                <!-- <div>
                  <h6 class="center-align" style="margin: 0 !important;"><b>ORDEN DE REPARACIÓN</b></h6>
              </div> -->
              <!-- <div>
                <p class="right-align" style="margin: 0 !important;"><b>ORDEN DE TRABAJO</b>
                <input type="number" tabindex="0" class="orden focusNext" placeholder="**" formControlName="orden" min="0" step="1" style="width: 3cm;">
              </p>
              </div> -->
            </div>
          </div>
          <div class="row" style="margin-top: .5rem !important;">
            <div class="col s12">
              <div class="row">                
                <div class="col s1">
                  Nombre:
                </div>
                <div class="col s6 pr0" style="display: none;" id="nameC">
                  <input type="text" value="{{nameC}}">
                </div>
                <div class="col s5 pr0 no-print">
                  <input formControlName="nombre" type="text" readonly>
                </div>
                <div class="col s1 pr0 pl0 no-print box">
                  <select name="nombre" id="nombre" style="height: 1rem !important; margin: 0 0 8px 0; border: none !important; background-color: #e4e6e5;" (change)="nameS($event)">
                    <option value=""></option>
                    <option *ngFor="let form of forms" value="{{form.$key}}">{{form.nombre}}</option>
                  </select>
                </div>
                <!-- <div class="col s6">
                  <input type="text" autofocus tabindex="1" class="focusNext form-control-plaintext" formControlName="nombre">
                </div> -->
                <div class="col s1">
                  Teléfono:
                </div>
                <div class="col s4">
                  <input type="text" autofocus tabindex="2" class="focusNext form-control-plaintext" formControlName="tel" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col s1">
                  Domicilio:
                </div>
                <div class="col s11">
                  <input type="text" tabindex="3" class="focusNext" formControlName="domicilio" readonly>                  
                </div>
              </div>
              <div class="row">
                <div class="col s1">
                  Unidad:
                </div>
                <div class="col s5">
                  <input type="text" tabindex="4" class="focusNext" formControlName="unidad">
                </div>
                <div class="col s1">
                  Modelo:
                </div>
                <div class="col s5">
                  <input type="text" tabindex="5" class="focusNext" formControlName="modelo">
                </div>
              </div>
              <div class="row">
                <div class="col s1">
                  Kilometraje:
                </div>
                <div class="col s3">
                  <input type="text" tabindex="6" class="focusNext" formControlName="km">
                </div>
                <div class="col s1">
                  Placa:
                </div>
                <div class="col s3">
                  <input type="text" tabindex="7" class="focusNext" formControlName="placas">
                </div>
                <div class="col s1">
                  Serie:
                </div>
                <div class="col s3">
                  <input type="text" tabindex="8" class="focusNext" formControlName="serie">
                </div>
              </div>
              <div class="row">
                <div class="col s2">
                  Observaciones:
                </div>
                <div class="col s10">
                  <input type="text" tabindex="9" class="focusNext" formControlName="observ">
                </div>
              </div>              
            </div>
          </div>
          <div class="row" style="margin-top: 1rem !important;">
            <div class="col s12">
              <table class="tt1" formArrayName="units">
                <tr>
                  <th style="width: 2cm;">CANTIDAD</th>
                  <!-- <th style="width: 2.5cm;">NO. DE PARTE</th> -->
                  <th style="width: 12cm;">DESCRIPCIÓN DE LA REFACCIÓN</th>
                  <th style="width: 3cm;">PRECIO</th>
                  <th>IMPORTE</th>
                </tr>
                <tr [formGroupName]="0">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="13" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="14" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="15" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="16" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="1">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="17" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="18" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="19" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="20" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="2">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="21" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="22" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="23" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="24" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="3">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="25" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="26" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="27" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="28" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="4">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="29" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="30" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="31" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="32" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="5">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="33" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="34" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="35" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="36" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="6">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="37" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="38" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="39" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="40" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="7">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="41" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="42" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="43" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="44" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="8">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="45" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="46" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="47" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="48" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="9">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="49" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="50" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="51" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="52" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="10">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="53" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="54" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="55" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="56" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="11">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="57" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="58" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="59" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="60" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="12">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="61" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="62" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="63" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="64" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="13">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="65" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="66" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="67" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="68" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="14">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="69" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="70" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="71" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="72" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="15">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="73" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="74" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="75" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="76" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
                <tr [formGroupName]="16" style="border: 1px solid #9e9e9e;">
                  <td class="br-1"><input type="number" min="0" formControlName="cantidad" tabindex="77" class="focusNext"></td>
                  <!-- <td><input type="text" formControlName="noparte" tabindex="78" class="focusNext"></td> -->
                  <td class="br-1"><input type="text" formControlName="desc" tabindex="79" class="focusNext"></td>
                  <td class="br-1"><input type="number" formControlName="importe" tabindex="80" class="focusNext"></td>
                  <td><input type="text" formControlName="subtotal"></td>
                </tr>
              </table>
              <table id="total__">
                <tr style="border-bottom: 0;">
                  <td style="width: 14cm;">
                    <p style="text-align: left;">Al firmar de conformidad acepto a mi entera satisfacción el servicio que estoy contratando de manera profesional con Afinauto. Así, como sus términos y condiciones.</p>
                  </td>
                  <!-- <td style="width: 11.5cm;"></td> -->
                  <!-- <td style="background-color: #ededed; width: 3cm;" class="right-align">REFACCIONES: $</td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" value="{{totalr}}" style="color:#00649c;"></td> -->
                  <td style="background-color: #ededed; width: 3cm;" class="right-align">SUBTOTAL:  </td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="text" value="{{subtotal | currency}}" readonly style="color:#00649c;"> </td>
                </tr>
                <tr style="border-bottom: 0;">
                  <td style="width: 1.5cm;">
                    <p style="text-align: left;">Métodos de pago:</p>
                  </td>
                  <!-- <td style="width: 11.5cm;"></td> -->
                  <td style="background-color: #ededed; width: 3cm;" class="right-align"><input type="checkbox" name="iva" id="iva" formControlName="iva" style="margin-right: 0.5rem;" (change)="updt()">  IVA:  </td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="text" value="{{ iva | currency}}" readonly style="color:#00649c;"></td>
                </tr>
                <tr style="border-bottom: 0;" *ngIf="!myForm.value.presupuesto">
                  <td style="width: 1.5cm;">                    
                  </td>
                  <!-- <td style="width: 11.5cm;"></td> -->
                  <!-- <td style="background-color: #ededed; width: 3cm;" class="right-align">CARGOS ADICIONALES: </td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" name="obra" formControlName="cargos" (change)="updt()" tabindex="82"
                    class="focusNext" > </td> -->
                    <td style="background-color: #ededed; width: 3cm;" class="right-align">ANTICIPO:  </td>
                  <!-- <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" name="anticipo" formControlName="antici" (change)="updt()"
                    tabindex="85" class="focusNext" > </td> -->
                    <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" name="anticipo" formControlName="antici" (change)="updt()"
                      tabindex="85" class="focusNext no-print" ><input type="text" value="{{myForm.value.antici | currency}}" id="anticipo" style="display: none;" > </td>
                </tr>
                <tr style="border-bottom: 0;">
                  <td style="width: 1.5cm;">
                    <div class="row">
                      <div class="col s1"><input type="checkbox" name="tarjeta" id="tarjeta" formControlName="tarjeta"></div>
                      <div class="col s2" style="padding-left: 0; text-align:left">Tarjeta</div>
                      <div class="col s1"><input type="checkbox" name="efectivo" id="efectivo" formControlName="efectivo"></div>
                      <div class="col s2" style="padding-left: 0; text-align:left">Efectivo</div>
                      <div class="col s1"><input type="checkbox" name="transferencia" id="transferencia" formControlName="transferencia"></div>
                      <div class="col s2" style="padding-left: 0; text-align:left">Transferencia</div>
                    </div></td>
                  <!-- <td style="width: 11.5cm;"></td> -->
                  <!-- <td style="background-color: #ededed; width: 3cm;" class="right-align">SEGURO: </td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" name="obra" formControlName="seguro" (change)="updt()" tabindex="83"
                    class="focusNext" > </td> -->
                    <td style="background-color: #ededed; width: 3cm;" class="right-align">TOTAL:  </td>
                  <td style="border: 1px solid rgba(0,0,0,0.12); font-weight: 600; color: red;"><input type="text" value="{{total | currency}}" readonly style="color:red;"></td>
                </tr>
                <tr style="border-bottom: 0;" *ngIf="!myForm.value.presupuesto">
                  <td style="width: 1.5cm;"></td>
                  <!-- <td style="width: 11.5cm;"></td> -->
                  <!-- <td style="background-color: #ededed; width: 3cm;" class="right-align">SEGURO: </td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" name="obra" formControlName="seguro" (change)="updt()" tabindex="83"
                    class="focusNext" > </td> -->
                    <td style="background-color: #ededed; width: 3cm;" class="right-align">SALDO:  </td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="text" value="{{saldo | currency}}" readonly style="color:red;"> </td>
                </tr>
                <!-- <tr style="border-bottom: 0;">
                  <td style="width: 1.5cm;"></td>                  
                  <td style="background-color: #ededed; width: 3cm;" class="right-align">OTROS MATERIALES: $</td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" name="otros" formControlName="otrosm" (change)="updt()"
                    tabindex="84" class="focusNext" > </td>
                </tr>
                <tr style="border-bottom: 0;">
                  <td style="width: 1.5cm;"></td>                  
                  <td style="background-color: #ededed; width: 3cm;" class="right-align">SUBTOTAL: $</td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" value="{{subtotal}}" style="color:#00649c;"> </td>
                </tr>
                <tr style="border-bottom: 0;">
                  <td style="width: 1.5cm;"></td>                  
                  <td style="background-color: #ededed; width: 3cm;" class="right-align"> IVA: $</td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" value="{{ iva}}" style="color:#00649c;"></td>
                </tr>
                <tr style="border-bottom: 0;">
                  <td style="width: 1.5cm;"></td>                  
                  <td style="background-color: #ededed; width: 3cm;" class="right-align">TOTAL: $</td>
                  <td style="border: 1px solid rgba(0,0,0,0.12); font-weight: 600; color: red;"><input type="number" value="{{total}}" style="color:red;"></td>
                </tr>
                <tr style="border-bottom: 0;">
                  <td style="width: 1.5cm;"></td>                  
                  <td style="background-color: #ededed; width: 3cm;" class="right-align">ANTICIPO: $</td>
                  <td style="border: 1px solid rgba(0,0,0,0.12);"><input type="number" name="anticipo" formControlName="antici" (change)="updt()"
                    tabindex="85" class="focusNext" > </td>
                </tr>-->
                
              </table>
            </div>
          </div>
          
          <div class="foot_">
            <div class="row" style="margin-bottom: 1.2rem !important;">
            <div class="col s6">
              <div class="signature">
                <div id="contSign" onclick="btn_click()">
                  <img src="" id="imgSign" (load)="imgChanged($event)">
                  <!-- <img src="" id="imgSign"> -->
                </div>
                <hr>
                Firma de conformidad
              </div>
            </div>
          </div>
          </div>

          
          
          <!-- <div class="foot_">
          
          <div class="row valign-wrapper">
            <div class="col s5">
              <div class="row valign-wrapper">
                <div class="col s2" style="padding-right: 0 !important;">
                  <img src="https://img.icons8.com/color/96/000000/facebook.png" style="height: 1cm !important;">
                </div>
                <div class="col s4" style="padding-left: 0 !important;">
                  ramsa automotriz
                </div>
                <div class="col s2" style="padding-right: 0 !important;">
                  <img src="https://img.icons8.com/color/96/000000/whatsapp.png" style="height: 1cm !important;">
                </div>
                <div class="col s4" style="padding-left: 0 !important;">
                    443 528 1223
                </div>
              </div>                
            </div>
            <div class="col s4 center-align">
              <p>Cel. 443 528 1223</p>
            </div>
            <div class="col s3 center-align">
              <p>ramsaautomotriz7827@gmail.com</p>
            </div>
          </div> 
         <div class="row">
            <div class="col s12 center-align">
              <b>Baja California Norte #119c Col. Issac Arriaga</b>
            </div>
          </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- <div class="no-print" id="printBtn" onclick="window.print()">
      <div class="iconos">
        <span class="material-icons" style="font-size: 2.8rem;">print</span>
        <span class="material-icons" style="font-size: 2.8rem; color: #0d47a1;">save</span>
      </div>
    </div> -->
    <div class="no-print" id="printBtn">
      <div class="iconos">
        <button>
          <span class="material-icons" style="font-size: 2.8rem;" onclick="window.print()">print</span>
        </button>
        <button (click)="submitSurveyData()" [routerLink]="['/notas']" [disabled]="!myForm.valid" style="cursor: pointer;">
          <span class="material-icons" style="font-size: 2.8rem; color: #0d47a1;">save</span>
        </button>
      </div>
      <!-- <img src="assets/print.svg" alt="" width="35" height="35"> -->
    </div>
  </form>
</div>