<app-navbar [save]="save"></app-navbar>
<div class="pt-2">
    <div class="row justify-content-sm-center">
        <div class="col sm-12 md-8">
            <div class="card">
                <div class="card-body">
                    <p class="card-title h5" style="text-align: center;">
                        PANEL DE USUARIO
                    </p>
                    <div class="container" *ngIf="data">
                        <mat-form-field>
                          <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
                        </mat-form-field>
                        <!-- <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="fecha" matSortDirection="desc" matSortDisableClear> -->
                        <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="fecha" matSortDirection="desc" matSortDisableClear (matSortChange)="sortData($event)">

                            <ng-container matColumnDef="fecha">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="show-h">Fecha</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="show-h">{{element.fecha}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="pad-l">Nombre</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="pad-l">{{element.nombre}}
                                </mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="tel">
                                <mat-header-cell *matHeaderCellDef class="show-h">Teléfono</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="show-h">{{element.tel}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="nCalls">
                                <mat-header-cell *matHeaderCellDef>Llamadas</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.nCalls}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index;">
                                    <button class="btn btn-outline-success btn-sm btn-block"
                                [routerLink]="['/edit/', element.$key]">Ver</button>
                                    <!-- <button mat-raised-button color="accent">Ver</button>
                                    <button mat-raised-button color="accent" (click)="deleteBook(i, element)">Delete</button> -->
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
