@media (max-width: 520px) {
    .show-h {
      display: none;
    }
    .pad-l {
        padding-left: 24px;
    }
}
.card-body {
  padding: 1.25rem 0 !important;
}
.container {
  padding-left: 10px !important;
  padding-right: 10px !important;
}