<!-- <app-navbar [save]="save"></app-navbar> -->
<div style="overflow: hidden;" class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-body">
                    <div class="row" style="margin: 1rem;">
                        <div class="col s12 l3"></div>
                        <div class="col s12 l6" style="padding: 1rem;">
                            <p class="card-title h5" style="text-align: center;">
                                Notas de venta
                            </p>
                        </div>
                        <div class="col s12 l3" style="padding: 1rem;">
                            <button mat-button class="btn" [routerLink]="['/nueva-nota']"><span class="material-icons" style="vertical-align: middle;">add</span> Nuevo nota</button>
                        </div>
                    </div>
                    <div *ngIf="data" style="margin:1rem;">
                        <div class="row">
                            <div class="col s4">
                                <mat-form-field>
                                  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar">
                                </mat-form-field>
                            </div>
                            <!-- <div class="col s4"></div> -->
                        </div>
                        <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
                        <!-- <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="fecha" matSortDirection="desc" matSortDisableClear> -->
                        <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="orden" matSortDirection="desc" matSortDisableClear (matSortChange)="sortData($event)">

                            <ng-container matColumnDef="orden">
                                <mat-header-cell *matHeaderCellDef mat-sort-header >Orden</mat-header-cell>
                                <mat-cell *matCellDef="let element" [ngClass]="{'com':element.estado}">{{element.orden}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="presupuesto">
                                <mat-header-cell *matHeaderCellDef class="pad-l show-hh">Tipo</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="pad-l show-hh" [ngClass]="{'com':element.estado}"><span *ngIf="element.presupuesto">PRESUPUESTO</span><span *ngIf="!element.presupuesto">NOTA DE VENTA</span></mat-cell>
                                <!-- <mat-cell *matCellDef="let element" [ngClass]="{'com':element.estado}"><span *ngIf="!element.presupuesto">NOTA DE VENTA</span></mat-cell> -->
                            </ng-container>
                            <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef class="pad-l">Nombre</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="pad-l" [ngClass]="{'com':element.estado}">{{element.nombre}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="modelo">
                                <mat-header-cell *matHeaderCellDef class="pad-l">Modelo</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="pad-l" [ngClass]="{'com':element.estado}">{{element.modelo}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="placas">
                                <mat-header-cell *matHeaderCellDef class="show-h show-hh pad-l">Placas</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="show-h show-hh pad-l" [ngClass]="{'com':element.estado}">{{element.placas }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="fecha">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="show-h pad-l">Fecha</mat-header-cell>
                                <mat-cell *matCellDef="let element" class="show-h pad-l" [ngClass]="{'com':element.estado}">{{element.fecha}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef class="pad-l"> Acción </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index;" class="pad-l" [ngClass]="{'com':element.estado}">
                                    <!-- <button class="btn btn-outline-success btn-sm" (click)="editCliente(element.$key)"><span class="material-icons">edit</span></button> -->

                                    <button class="btn  btn-small" [routerLink]="['/editar-nota/', element.$key]"><span class="material-icons">edit</span></button>
                                    <button class="btn red darken-1 btn-small" (click)="deleteNota(element.$key)"><span class="material-icons">delete</span></button>
                                    <!-- <button mat-raised-button color="accent">Ver</button> -->
                                    <!-- <button mat-raised-button color="accent" (click)="deleteBook(i, element)">Delete</button> -->
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

