.tt1 {
    border: 1px solid #9e9e9e;
}
.tt1 th {
    background-color: #9e9e9e;
    color: white;
}
.tt1 input {
    height: 1rem !important;
    text-align: center;
    border-bottom: 0 !important;
    font-size: .85rem !important;
    margin: 4px 0 4px 0 !important;
}

.datos {
    text-align: center;
    /* background-color: #9e9e9e; */
    color: #222;
    /* font-weight: 600; */
    /* padding: 3mm; */
    border-radius: 1mm;
}

.br-1 {
    border-right: 1px solid rgba(0,0,0,0.12);
}

#total__ input[type="number"], #total__  input[type="text"]{
    border: 0 !important;
    text-align: center !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #a4bc30 !important;
}

select {
    border-bottom: 1px solid #9e9e9e !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

  
  .box select {
    /* background-color: #0563af; */
    color: #222;
    padding: 9px !important;
    /* width: 250px; */
    border: none;
    font-size: 20px;
    /* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }

  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }

  .pr0 {
    padding-right: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.ml0 {
    margin-left: 0.1rem !important;
}

.mr0 {
    margin-right: 0 !important;
}