<app-navbar></app-navbar>
<div class="pt-2">
    <div class="row justify-content-sm-center">
        <div class="col sm-12 md-8">
            <div class="card">
                <div class="card-body">
                    <p class="card-title h5" style="text-align: center;">
                        PROPIEDADES
                    </p>
                    <div class="container">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
