<app-navbar></app-navbar>
<div class="col-sm-12 col-md-3 offset-md-9 no-print">
    <button class="btn btn-outline-success btn-block" onclick="window.print()">Guardar PDF</button>
</div>
<div class="app">
    <section>
        <div class="page">
            <div class="inner">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-group list-group-flush" *ngIf="myForm1">
                            <li class="list-group-item">
                                <span *ngIf="myForm1.title">{{myForm1.title}}</span>
                            </li>
                            <li class="list-group-item">
                                <span *ngIf="myForm1.desc">{{myForm1.desc}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row" *ngIf="myForm1">
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo1" [src]="myForm1.photo1" class="h-p">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo2" [src]="myForm1.photo2" class="h-p">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo3" [src]="myForm1.photo3" class="h-p">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo4" [src]="myForm1.photo4" class="h-p">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="app" *ngIf="myForm1">
    <section *ngIf="myForm1.photo5 || myForm1.photo6 || myForm1.photo7 || myForm1.photo8 || myForm1.photo9 || myForm1.photo10">
        <div class="page">
            <div class="inner">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo5" [src]="myForm1.photo5" class="h-p">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo6" [src]="myForm1.photo6" class="h-p">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo7" [src]="myForm1.photo7" class="h-p">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo8" [src]="myForm1.photo8" class="h-p">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo9" [src]="myForm1.photo9" class="h-p">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img *ngIf="myForm1.photo10" [src]="myForm1.photo10" class="h-p">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>