<div class="modal-header no-print">
  <h5 class="modal-title" id="myModalLabel">Propiedad</h5>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeDialog()"> &times;
  </button>
</div>
<div class="modal-body">
  <ul class="list-group list-group-flush" [formGroup]="myForm1">
    <li class="list-group-item">
      <input type="text" class="form-control" formControlName="title" placeholder="Titulo **"
        style="font-size: 1.1rem; color:blue;">
    </li>
    <li class="list-group-item">
      <textarea placeholder="Descripción **" class="form-control" formControlName="desc" rows="8"
        style="resize: none;"></textarea>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo1" src="{{myForm1.value.photo1}}" class="w-100"
            (click)="showImg(myForm1.value.photo1)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img1"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 1</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo2" src="{{myForm1.value.photo2}}" class="w-100"
            (click)="showImg(myForm1.value.photo2)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img2"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 2</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo3" src="{{myForm1.value.photo3}}" class="w-100"
            (click)="showImg(myForm1.value.photo3)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img3"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 3</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo4" src="{{myForm1.value.photo4}}" class="w-100"
            (click)="showImg(myForm1.value.photo4)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img4"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 4</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo5" src="{{myForm1.value.photo5}}" class="w-100"
            (click)="showImg(myForm1.value.photo5)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img5"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 5</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo6" src="{{myForm1.value.photo6}}" class="w-100"
            (click)="showImg(myForm1.value.photo6)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img6"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 6</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo7" src="{{myForm1.value.photo7}}" class="w-100"
            (click)="showImg(myForm1.value.photo7)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img7"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 7</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo8" src="{{myForm1.value.photo8}}" class="w-100"
            (click)="showImg(myForm1.value.photo8)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img8"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 8</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo9" src="{{myForm1.value.photo9}}" class="w-100"
            (click)="showImg(myForm1.value.photo9)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img9"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 9</label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
          <img *ngIf="myForm1.value.photo10" src="{{myForm1.value.photo10}}" class="w-100"
            (click)="showImg(myForm1.value.photo10)">
          <div class="custom-file no-print">
            <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="img10"
              (change)="changeListener($event)">
            <label class="custom-file-label" for="customFile">Foto 10</label>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer no-print">
  <button type="button" class="btn btn-outline-success" (click)="submitSurveyData()"
    [disabled]="!myForm1.valid">Guardar</button>
  <button type="button" class="btn btn-outline-info" [routerLink]="['/pdf/', this.key]"
    (click)="closeDialog()">PDF</button>
  <button type="button" class="btn btn-outline-danger" (click)="deleteCasa()">Eliminar</button>
  <button type="button" class="btn btn-outline-default" data-dismiss="modal" (click)="closeDialog()">Cancelar </button>
</div>


<ng-container #vci></ng-container>
<ng-template #modalCi>
  <div class="modal" id="myModali" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-img">
      <div class="modal-content">
        <div class="modal-header no-print">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeImg()"> &times;
          </button>
        </div>
        <div class="modal-body">
          <img [src]="acImg"  class="w-100">
        </div>
      </div>
    </div>
  </div>
</ng-template>