<img *ngIf="casa.photo1" src="{{casa.photo1}}" class="w-100">
<img *ngIf="!casa.photo1" src="assets/casa.png" class="w-100">
<span *ngIf="casa" class=" btn btn-outline-info btn-block" (click)="showDialog()">{{casa.title}}</span>

<ng-container #vc></ng-container>
<ng-template #modalC>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <app-edit-casa [closeDialog]="closeDialog" [key]="casa.$key">
                </app-edit-casa>
            </div>
        </div>
    </div>
</ng-template>
