<!-- <app-navbar [save]="save"></app-navbar> -->
<div class="back">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card">
          <div class="card-body">
              <p class="card-title h6" style="text-align: center; margin: 1rem; padding: 1rem;">INICIO DE SESIÓN</p>
              <div class="input-field col s12">
                <input type="text" class="form-control mb-2" #userEmail placeholder="Correo" required autofocus>
              </div>
              <div class="input-field col s12">
                <input type="password" class="form-control mb-2" #userPassword placeholder="Contraseña" required>
              </div>
              <ul class="list-group list-group-flush">
                  <li>
                    <button class="btn btn-lg btn-outline-success btn-block mb-1" (click)="authService.SignIn(userEmail.value, userPassword.value)" [routerLink]="['/']">Entrar</button>
                  </li>
              </ul>
          </div>
      </div>
        <!-- <div class="card">
          <div class="card-header"><h4>Inicio de sesión</h4></div>
          <div class="card-body">
            <div class="row">              
              <div class="col-md-12">                
                  <input type="text" class="form-control mb-2" #userEmail placeholder="Correo" required autofocus>
                  <input type="password" class="form-control mb-2" #userPassword placeholder="Contraseña" required>
                  <button class="btn btn-lg btn-outline-success btn-block mb-1" (click)="authService.SignIn(userEmail.value, userPassword.value)" [routerLink]="['/']">Entrar</button>                  
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

