<!-- <app-navbar [save]="save" [btns]="btns"></app-navbar> -->
<div class="back">
    <div class="container pt-5">
        <div class="row justify-content-sm-center">
          <div class="col s12">
              <h3>PERMORMANCE - AFINAUTO - SUSPENSIONES</h3>
            <div class="card">
              <div class="card-body">
                <div class="row">              
                  <div class="col s12 l4 center">
                    <a class="waves-effect waves-light btn-large" [routerLink]="['/ordenes']"><span class="material-icons">directions_car</span> Orden de servicio</a>
                  </div>
                  <div class="col s12 l4 center">
                    <a class="waves-effect waves-light btn-large" [routerLink]="['/notas']"><span class="material-icons">note</span> Nota de venta</a>
                  </div>
                  <div class="col s12 l4 center">
                    <a class="waves-effect waves-light btn-large" [routerLink]="['/clientes']"><span class="material-icons">group</span> Clientes</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


