.datos {
    text-align: center;
    /* background-color: #9e9e9e; */
    color: #222;
    font-weight: 600;
    /* padding: 3mm; */
    border-radius: 1mm;
}
.tt1 {
    border: 1px solid #9e9e9e;
}
.tt1 th {
    background-color: #9e9e9e;
    color: white;
}
.tt1 input {
    height: 1rem !important;
    text-align: center;
    border-bottom: 0 !important;
}

/* .col-6, .col-2, .col-10, .col-3, .col-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */
.inner {
    font-size: 0.85rem;
}

.pr0 {
    padding-right: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.ml0 {
    margin-left: 0.1rem !important;
}

.mr0 {
    margin-right: 0 !important;
}