.datos {
    text-align: center;
    /* background-color: #9e9e9e; */
    color: #222;
    /* font-weight: 600; */
    /* padding: 3mm; */
    border-radius: 1mm;
}

/* .col-6, .col-2, .col-10, .col-3, .col-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */
.inner {
    font-size: 0.75rem;
}

.pr0 {
    padding-right: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.ml0 {
    margin-left: 0.1rem !important;
}

.mr0 {
    margin-right: 0 !important;
}

select {
    border-bottom: 1px solid #9e9e9e !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

  
  .box select {
    /* background-color: #0563af; */
    color: #222;
    padding: 9px !important;
    /* width: 250px; */
    border: none;
    font-size: 20px;
    /* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }

  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }