<!-- <app-navbar [save]="save"></app-navbar> -->
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-body" [formGroup]="myForm">
                    <p class="card-title h6" style="text-align: center; margin: 1rem; padding: 1rem;">NUEVO CLIENTE</p>
                    <div class="input-field col s12">
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre*">
                    </div>
                    <div class="input-field col s12">
                        <input type="text" class="form-control" formControlName="tel" placeholder="Teléfono*">
                    </div>
                    <div class="input-field col s12">
                        <input type="email" class="form-control" formControlName="email" placeholder="Correo*" email>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" class="form-control" formControlName="domicilio" placeholder="Domicilio*">
                    </div>
                    <ul class="list-group list-group-flush">
                        <li>
                            <button class="waves-effect waves-light btn" type="button" (click)="submitSurveyData()" [routerLink]="['/clientes']" [disabled]="!myForm.valid">Guardar</button>
                        </li>
                        <li>
                            <button class="waves-effect waves-light btn grey lighten-2" type="button" [routerLink]="['/clientes']">Cancelar</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <h2 mat-dialog-title><p class="card-title h6" style="text-align: center;">Nuevo Cliente</p></h2>

<div mat-dialog-content>
    <div class="container pt-2">
        <div class="row justify-content-sm-center">
            <div class="col-sm-12 col-md-8">
                <div class="card">
                    <div class="card-body" [formGroup]="myForm">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre*">
                            </li>
                            <li class="list-group-item">
                                <input type="text" class="form-control" formControlName="tel" placeholder="Teléfono*">
                            </li>
                            <li class="list-group-item">
                                <input type="email" class="form-control" formControlName="email" placeholder="Correo*" email>
                            </li>
                            <li class="list-group-item">
                                <input type="text" class="form-control" formControlName="domicilio" placeholder="Domicilio*">
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-outline-success btn-block" type="button" (click)="submitSurveyData()" [routerLink]="['/clientes']" [disabled]="!myForm.valid">Guardar</button>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button class="mat-raised-button" (click)="close()">Cerrar</button>
</div>
 -->