<app-navbar></app-navbar>
<div class="pt-2">
    <div class="row justify-content-sm-center">
        <div class="col sm-12 md-8">
            <div class="card">
                <div class="card-body">
                    <p class="card-title h5" style="text-align: center;">
                        MI CALENDARIO
                    </p>
                    <div class="container">
                        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                
                        
<ng-container #vcE2></ng-container>
<ng-template #modalE2>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- <app-edit-call [key2]="call.$key" [closeDialog]="closeDialog">
                </app-edit-call> -->
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Cita {{cita.startStr}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeDialog()"> &times;
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5>{{cita.title}}</h5>
                        </li><!-- 
                        <li class="list-group-item">
                            <h5>{{cita.startStr}}</h5>
                        </li> -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" (click)="deleteData(cita.extendedProps.$key)">Borrar</button>
                    <button type="button" class="btn btn-outline-default" data-dismiss="modal" (click)="closeDialog()">Cerrar </button>
                </div>
                
            </div>
        </div>
    </div>
</ng-template>