/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop
{
    /* opacity:0.3 !important; */
    background-color: white !important;
}

/* .modal-dialog-centered, .modal-dialog {
    max-width: 21.59cm !important;
    width: 21.59cm !important;
} */
.modal{
  display: block !important;
  overflow-y: auto !important;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 750px !important;
    }
}
.app {
  margin: 1.25rem;
}
/* .modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 500px;
  overflow-y: auto;
} */

:root {
  --margin-first-page: 2em;
  --margin-last-page: 2em;
  --page-width: 21.59cm;
  --page-height: 27.94cm;
  --page-color: #FFFFFF;
  --page-inner-width: calc(100% - 7mm - 7mm);
  --page-inner-height: calc(100% - 1cm - 1cm);
  --page-inner-margin: 7mm;
  --page-inner-top: 1cm;
}


@media print{
  /* .app {
    margin-bottom: var(--margin-last-page);
  } */
  @page {margin: 0;padding: 0;}
  .page {
    position: relative;
    width: var(--page-width);
    min-width: var(--page-width);
    height: var(--page-height);
    min-height: var(--page-height);
    background: var(--page-color);
    margin: 0 auto;
    box-shadow: 1px 5px 15px #707070;
  }
  .page:first-of-type { margin-top: var(--margin-first-page); }
    .page:last-of-type  { margin-bottom: var(--margin-last-page); }
    .page > .inner {
      position: relative;
      width: var(--page-inner-width);
      height: var(--page-inner-height);
      margin: 0 var(--page-inner-margin);
      top: var(--page-inner-top);
      overflow: hidden;
      /* border: solid 1px red; */
    }
    .no-print { display: none !important; }
    nav {
      display: none;
      height: 0;
    }
    .nav-bar {
      display: none;
      height: 0;
    }    
    * {
      -webkit-print-color-adjust: exact;
    }
    .app {
      /* margin-bottom: 0 !important; */
      margin: 0 !important;
    }
    .page, .page-landscape {
      box-shadow: none;
    }
    .h-p {
      margin-bottom: 0.5rem !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .page:first-of-type, .page-landscape:first-of-type { margin-top: 0 !important; }
    .page:last-of-type, .page-landscape:last-of-type { margin-bottom: 0 !important; }
    /* .modal-dialog, .modal-dialog-centered {
        max-width: 21.59cm !important;
        width: 21.59cm !important;     
    } */
    /* .modal, .modal-body, .modal-dialog, .modal-dialog-centered {
      position: absolute !important;
      left: 0 !important;
      top: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
    } */
    /* .modal-body {
      overflow: visible !important;
    } */
  }