<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Editar Llamada ({{myForm1.value.folio}})</h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeDialog()"> &times;
    </button>
</div>
<div class="modal-body">
    <ul class="list-group list-group-flush" [formGroup]="myForm1">
        <li class="list-group-item">
            <input type="date" class="form-control" formControlName="fecha">
        </li>
        <li class="list-group-item">
            <textarea placeholder="Descripción **" class="form-control" formControlName="texto" rows="4" style="resize: none;"></textarea>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="submitSurveyData()" [disabled]="!myForm1.valid">Guardar</button>
    <button type="button" class="btn btn-outline-default" data-dismiss="modal" (click)="closeDialog()">Cancelar </button>
</div>
