<span *ngIf="call" class=" btn btn-outline-info btn-sm" (click)="showDialog()">{{call.folio}}</span>
<ng-container #vcE></ng-container>
<ng-template #modalE>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <app-edit-call [key2]="call.$key" [closeDialog]="closeDialog">
                </app-edit-call>
            </div>
        </div>
    </div>
</ng-template>