nav {
    background-color: #a4bc30;
}
a:hover, button:hover {
    background-color: #a4ac30;
}
#navbarNav a {
    margin: 0.7rem 0;
}

.navbar-brand {
    padding-top: 0;
}

.navbar-brand:hover {
    background-color: transparent;
}

a span {
    vertical-align: middle;
    font-size: 28px;
}

#navbarNav {
    background-color: #a4bc30;
    z-index: 1000;
}

.nav-link {
    padding: 0 1rem;
    color: black;
}

.btn {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}